body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.malla {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ramo {
  padding: 15px;
  width: 200px;
  height: auto;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s;
}

.no-aprobado {
  background-color: #a0f0e0; /* verde agua */
}

.aprobado {
  background-color: #d4a0f0; /* lila */
  text-decoration: line-through;
  color: white;
}

.bloqueado {
  background-color: #d3d3d3;
  color: #888;
  cursor: not-allowed;
}
